* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #073b4c;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    margin: 1rem;
    text-align: center;
    color: white;
    font-size: 4rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.box {
    width: 80px;
    height: 80px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1389b2;
}

.Fizz {
    background-color: #0ad6a1;
}

.Buzz {
    background-color: #ffd165;
}

.FizzBuzz {
    background-color: #f0466f;
}